{
  "db_host": "mysql",
  "db_user": "webapiuser",
  "db_password": "webapipassword",
  "db_name": "webapidata",
  "secret_key": "please-change-me",
  "email_host": "smtp.example.com",
  "email_port": 587,
  "email_host_user": "your@email.com",
  "email_host_passwd": "yourpassword",
  "email_use_tls": true
}