{
    "email_host": "",
    "email_port": 587,
    "email_host_user" : "",
    "email_host_passwd": "",
    "secret_key": "",
    "db_name" : "osddb",
    "db_user" : "michael",
    "db_password": "Nas90666",
    "db_host": "localhost",
    "db_port": "3306"
}
