<html lang="en">
  <head>
    <title>OpenSeizureDetector webAPI</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
  </head>
  <body>
    <h1>OpenSeizureDetector webAPI</h1>
    <div id="vueApp">
      <h1>Vuejs App</h1>
      <div id="loginDiv" v-if="appState===APPSTATE_NOT_LOGGED_IN">
	<input v-model="uname"></input>
	<input v-model="passwd"></input>
	<button id="loginBtn" v-on:click="loginBtnOnClick">Login</button>
      </div>
      <div v-else>
	<p>
	  Logged in as user '{{ uname }}'.
	  <button v-on:click="logoutBtnOnClick">Log Out</button>
	</p>

	<div id="wearersDiv">
	  <ul>
	    <li v-for="wearer in wearers">
	      {{ wearer.id }} - {{ wearer.name }}
	    </li>
	  </ul>
	  <button v-on:click="addWearerBtnOnClick">Add Wearer</button>
	</div>
	<div id="addWearerDiv">
	</div>
	
      </div>
      <div id="systemMsgDiv">System Messages: {{message}}</div>
      <div id="ajaxMsgDiv">Ajax Messages: {{ ajaxMsg }}</div>
    </div>
    
  </body>
  <script src="js/vueApp.js"></script>
</html>
